.App {
  width: 100vw;
  height: 100vh;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.iconImage{
  width: 20px;
  height: 20px;
}
.SidebarList{
  height: auto;
  width: 100%;
  padding: 0;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin-top: 0px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SidebarList .row:hover{
  cursor: pointer;
  background-color: #293846;
  
}
.SidebarList #active{
  background-color: #41576c;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title{
  flex: 70%;
  color: white;

}
.container {
  display: flex;
  height: 100vh;
}
.contentPage{
  color:#0f477b;
  flex: 1;
  height: 100vh;
}
.myProfile{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
   height: 80px;

}
.profileInfo{
  padding-left: 10px;
  height: 80px;
  flex: 1;
  height: auto;
  margin: 0;
}
#details{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px
}
.profile{
  display: inline-flex;
  
    width: 80px;
    border-radius: 50%;
    align-items: left;
}
.Sidebar{
  width: 250px;
  height: 100vh;
  background: #2f4050;
};